@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff");
  font-weight: 400px;
  font-style: italic;
  font-display: swap;
}
/* Source Serif Pro */
@font-face {
  font-family: "Source Serif 4";
  src: url("../fonts/SourceSerif4-Italic.woff2") format("woff2"), url("../fonts/SourceSerif4-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
/* Змінні  */
/* for button in header menu*/
/* bg for body*/
/* for section hi*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
}

.container-1200 {
  width: 1200px;
  margin: 0 auto;
}

.container-1440 {
  width: 1440px;
  margin: 0 auto;
}

/* header*/
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__row-logo {
  margin: 20px 0;
}
.header__row-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__row-nav {
  margin-right: 20px;
}
.header__row-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  list-style: none;
}
.header__row-link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #3A5F56;
}
.header__row-button {
  width: 122px;
  height: 44px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  background: #3A5F56;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #FFFFFF;
}
.header__row-button::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  width: 17px;
  height: 17px;
  background: url("../img/basket.svg") center/contain no-repeat;
  margin-left: 18px;
}
.header__row-button::after {
  position: absolute;
  content: "0";
  top: 10px;
  right: 0;
  width: 19px;
  height: 18px;
  background: #FFFFFF;
  margin-right: 13px;
  border-radius: 50px;
  color: #3A5F56;
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
}

/* main  */
.main {
  /* hi section */
  /* end hi section */
  /* services section */
  /* end services section */
  /* preset section */
  /* end preset section */
}
.main__hi-container {
  background: #F4F3F0;
  background: url("../img/rectangle/Rectangle-top-right-green.png") right/contain no-repeat, url("../img/rectangle/Rectangle-left-bottom-orange.png") left/contain no-repeat;
}
.main__hi {
  display: flex;
  align-items: center;
  padding: 100px 0;
}
.main__hi-title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
  font-family: "Source Serif 4", serif;
  color: #3A5F56;
  margin-bottom: 11px;
}
.main__hi-description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #292C32;
  margin-bottom: 17px;
}
.main__hi-button {
  width: 118px;
  height: 44px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  background: #3A5F56;
}
.main__hi-image {
  width: 552px;
  height: 773px;
}
.main__services-container {
  background: #FFFFFF;
  background: url("../img/rectangle/Rectangle.png") left/contain no-repeat;
}
.main__services {
  margin-top: 100px;
}
.main__services-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.main__services-sab-image {
  margin-bottom: 15px;
}
.main__services-sab-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  margin-bottom: 11px;
  font-family: "Source Serif 4", serif;
  color: #3A5F56;
}
.main__services-sab-text {
  width: 600px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  margin: 0 5px;
  color: #292C32;
}
.main__services-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 100px;
}
.main__services-card {
  width: 379px;
  height: 304px;
  border: none;
  border-radius: 10px;
  background: #F4F3F0;
}
.main__services-image {
  margin-top: 30px;
  margin-left: 30px;
}
.main__services-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #3A5F56;
  font-family: "Source Serif 4", serif;
  margin-top: 9px;
  margin-bottom: 6px;
  margin-left: 30px;
}
.main__services-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #292C32;
  margin-bottom: 17px;
  margin-left: 30px;
}
.main__services-link {
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  color: #3A5F56;
  position: relative;
  padding-right: 20px;
  margin-left: 30px;
}
.main__services-link::after {
  position: absolute;
  content: "";
  top: 5px;
  right: 0px;
  width: 15px;
  height: 10px;
  background: url("../img/arrow.png") center/contain no-repeat;
}
.main__preset-container {
  background: #F4F3F0;
  background: url("../img/rectangle/Rectangle-red.png") right/contain no-repeat;
}
.main__preset {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__preset-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 47px;
}
.main__preset-sab-image {
  margin-bottom: 15px;
}
.main__preset-sab-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  color: #DB343B;
}
.main__preset-sab-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #292C32;
  width: 600px;
  text-align: center;
  margin: 0 5px;
}
.main__preset-cards {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}
.main__preset-card {
  width: 379px;
  height: 438px;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
}
.main__preset-image {
  margin-bottom: 30px;
}
.main__preset-title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
  color: #3A5F56;
  font-family: "Source Serif 4", serif;
  margin-bottom: 6px;
  margin-left: 30px;
}
.main__preset-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #3A5F56;
  margin-bottom: 26px;
  margin-left: 30px;
}
.main__preset-link {
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  color: #3A5F56;
  position: relative;
  padding-right: 20px;
  margin-left: 30px;
  margin-bottom: 100px;
}
.main__preset-link::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 0px;
  width: 15px;
  height: 10px;
  background: url("../img/arrow.png") center/contain no-repeat;
}/*# sourceMappingURL=style.css.map */