/* font-size  and font-weight */
@mixin size-line($font-size, $line-height, $font-weight){
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

/* media */
@mixin mobile{
    @media (max-width: $mobile) {
        @content;
    }
}
