/* for button in header menu*/
$color-gren: #3A5F56;

$color-white: #FFFFFF;
/* bg for body*/
$color-for-bg: #F4F3F0;

/* for section hi*/
$color-dark: #292C32;

$color-red: #DB343B;

/* for footer section */
$color-brow: #B87D58;

/* for placeholder */
$color-gray: #ABABAB;

$desktop: 1200px;

$tablet: 768px;

$mobile: 480px;