
@import "_reset-style";
@import "_fonts";
@import "_variables";
@import "_mixin";
@import "_servise-clases";

/* header*/
.header {

	&__row-logo {
            margin: 20px 0;
	}

	&__row-nav {
        margin-right: 20px;
	}

	&__row-list {
        gap: 10px;
        list-style: none;
	}

    &__row-link{
        @include size-line(16px, 16px, 400);
        color: $color-gren;           
    }

	&__row-button {
            width: 122px;
            height: 44px;
            position: relative;
            padding-left: 20px;
            padding-right: 20px;
            background: $color-gren;
            border-radius: 10px;
            border: none;
            @include size-line(16px, 22px, 400);
            color: $color-white;

            &::before{
                position: absolute;
                content: "";
                top: 10px;
                left: 0;
                width: 17px;
                height: 17px;
                background: url('../img/basket.svg') center / contain no-repeat;
                margin-left: 18px;
            }

            &::after{
                position: absolute;
                content: "0";
                top: 10px;
                right: 0;
                width: 19px;
                height: 18px;
                background: $color-white;
                margin-right: 13px;
                border-radius: 50px;
                color: $color-gren;
                @include size-line(11px, 18px, 400);
            }
	}

    /* header mobile */
    @include mobile(){
        &__row{
            height: 100px;
        }

        &__row-logo{
            margin-left: 60px;            
        }

        &__row-img{
            width: 180px;
        }

        &__row-menu{
            display: none;
        }

        &__burger{
            display: block;
            width: 60px;
            height: 30px;
            position: relative;
            cursor: pointer;

            span{
                position: absolute;
                left: 40px;
                width: 100%;
                height: 5px;
                background: $color-gren;
                transition: 0.3s;
                &:nth-child(1) { top: 0; }
                &:nth-child(2) { top: 18px; }
                &:nth-child(3) { top: 38px; }
            }
        }
        
    }
}

/* main  */
.main {

    /* hi section */
    &__hi-container{
        background: $color-for-bg;
        background: 
            url('../img/rectangle/Rectangle-top-right-green.png') right / contain no-repeat,
            url('../img/rectangle/Rectangle-left-bottom-orange.png') left / contain no-repeat;
    }

	&__hi {
        display: flex;
        align-items: center;
        padding: 100px 0;
	}

    &__hi-title{
        @include size-line(48px, 58px, 400);
        font-family: $SourceSerif;
        color: $color-gren;
        margin-bottom: 11px;
    }

    &__hi-description{
        @include size-line(16px, 22px, 400);
        color:$color-dark;
        margin-bottom: 17px;
    }

    &__hi-button{
        width: 118px;
        height: 44px;
        color: $color-white;
        @include size-line(16px, 22px, 400);
        border-radius: 10px;
        border: none;
        background: $color-gren;
    }

	&__hi-image {
        width: 552px;
        height: 773px;
	}
    /* end hi section */

    /* services section */
	&__services-container {
        background: $color-white;
        background: url('../img/rectangle/Rectangle.png') left / contain no-repeat;
	}

	&__services {
        margin-top: 100px;
	}

	&__services-title-box {
        margin-bottom: 40px;
	}

    &__services-sab-image{
        margin-bottom: 15px;
    }
    
    &__services-sab-title {
        @include size-line(32px, 38px, 400);
        margin-bottom: 11px;
        font-family: $SourceSerif;
        color: $color-gren;
	}

    &__services-sab-text{
        width: 600px;
        @include size-line(16px, 22px, 400);
        text-align: center;
        margin: 0 5px;
        color: $color-dark;
    }

    &__services-cards{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding-bottom: 100px;
    }

	&__services-card {
        width: 379px;
        height: 304px;
        border: none;
        border-radius: 10px;
        background: $color-for-bg;
	}

    &__services-image{
        margin-top: 30px;
        margin-left: 30px;
    }

    &__services-title {
        @include size-line(24px, 28px, 400);
        color: $color-gren;
        font-family: $SourceSerif;
        margin-top: 9px;
        margin-bottom: 6px;    
        margin-left: 30px;
	}

    &__services-text {
        @include size-line(16px, 22px, 400);
        color: $color-dark;
        margin-bottom: 17px;
        margin-left: 30px;
	}

	&__services-link {
        @include size-line(17px, 23px, 400);
        color: $color-gren;
        position: relative;
        padding-right: 20px;
        margin-left: 30px;
            &::after{
                position: absolute;
                content: '';
                top: 5px;
                right: 0px;
                width: 15px;
                height: 10px;
                background: url('../img/arrow.png') center / contain no-repeat;
            }
	}
    /* end services section */

    /* preset section */
	&__preset-container {
        background: $color-for-bg;
        background: url('../img/rectangle/Rectangle-red.png') right / contain no-repeat;
	}

	&__preset-title-box {
        padding-top: 100px;
        margin-bottom: 47px;
	}

	&__preset-sab-image {
        margin-bottom: 15px;
	}

	&__preset-sab-title {
        @include size-line(32px, 38px, 400);
        color: $color-red;
	}

	&__preset-sab-text {
        @include size-line(16px, 22px, 400);
        color: $color-dark;
        width: 600px;
        text-align: center;
        margin: 0 5px;
	}

	&__preset-cards {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 30px;
	}

	&__preset-card {
        width: 379px;
        height: 438px;
        background: $color-white;
        border-radius: 10px;
        border: none;
	}

	&__preset-image {
        margin-bottom: 30px;
	}

	&__preset-title {
        @include size-line(24px, 33px, 400);
        color: $color-gren;
        font-family: $SourceSerif;
        margin-bottom: 6px;
        margin-left: 30px;
	}

	&__preset-text {
        @include size-line(16px, 22px, 400);
        color: $color-gren;
        margin-bottom: 26px;
        margin-left: 30px;
	}

    &__preset-link{
        @include size-line(17px, 23px, 400);
        color: $color-gren;
        position: relative;
        padding-right: 20px;
        margin-left: 30px;
        margin-bottom: 100px;
            &::after{
                position: absolute;
                content: '';
                top: 7px;
                right: 0px;
                width: 15px;
                height: 10px;
                background: url('../img/arrow.png') center / contain no-repeat;
            }
    }
    /* end preset section */

    /* offer section */
	&__offer-container {
        background: url('../img/rectangle/Rectangle-orange.png') left / contain no-repeat;
	}

	&__offer-box {
        width: 800px;
        height: 259px;
        background: $color-for-bg;
        margin: 100px 0;
        border-radius: 10px;
        border: none;
	}

	&__offer-text {
        width: 313px;
        @include size-line(28px, 33px, 400);
        color: $color-dark;
        margin: 80px;
		}

	&__offer-button {
        width: 125px;
        height: 58px;
        background: $color-gren;
        @include size-line(20px, 28px, 400);
        color: $color-white;
        border: none;
        border-radius: 10px;
        margin-right: 80px;
	}
    /* end offer section */

    /* main mobile */
    @include mobile(){

        /* hi mobile main */
        &__hi-text{
            text-align: center;
        }

        &__hi-title{
            @include size-line(78px, 80px, 600);
            margin-bottom: 50px;
        }

        &__hi-description{
            display: none;
        }

        &__hi-button{
            width: 400px;
            height: 100px;
            @include size-line(58px, 60px, 400);
            margin-bottom: 50px;
        }
        /* end hi mobile main */

        /* services mobile main */
        &__services-container{
            background: url('../img/rectangle/Rectangle.png') 0 100% no-repeat;
            margin-top: 100px;
        }

        &__services{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }

        &__services-sab-image, &__preset-sab-image{
            width: 500px;
        }

        &__services-sab-title, &__preset-sab-title{
            @include size-line(70px, 80px, 400);
        }

        &__services-sab-text, &__preset-sab-text{
            display: none;
        }

        &__services-cards, &__preset-cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 60px;
        }

        &__services-card {
            width: 1100px;
            height: 800px;
            border-radius: 40px;
        }

        &__services-image{
            width: 200px;
            margin-bottom: 50px;
            margin-top: 50px;
            margin-left: 50px;
        }

		&__services-title,  &__preset-title {
            @include size-line(60px, 70px, 400);
            margin-bottom: 40px;
            margin-left: 50px;
		}

		&__services-text, &__preset-text {
            @include size-line(48px, 50px, 400);
            margin-bottom: 80px;
            margin-left: 50px;
		}

        &__services-link, &__preset-link{
            @include size-line(48px, 50px, 400);
            padding-right: 100px;
            margin-left: 50px;
            
            &::after{
                top: 20px;
                right: 0;
                width: 100px;
                height: 30px;
            }
        }
        /* end services mobile main */

        /* preset mobile main */
		&__preset-container {
            background: $color-white;
		}

        &__preset-card{
            width: 1100px;
            height: 900px;
            background: $color-for-bg;
        }

		&__preset-image {
            width: 1100px;
            height: 500px;
		}
        /* end preset mobile main */

        /* offer mobile main */
		&__offer-box {
            width: 1000px;
            height: 500px;
            display:flex;
            flex-direction: column;
            margin: 0 50px;
            border-radius: 30px;
		}

		&__offer-text {
            width: 800px;
            @include size-line(60px, 70px, 400);
		}

		&__offer-button {
            width: 400px;
            height: 100px;
            @include size-line(58px, 60px, 400);
            margin-bottom: 50px;
		}
        /* end offer mobile main */
    }
}

/* footer */
.footer {

	&__container {
        background: $color-dark;
        padding: 100px 0;
	}

	&__container-box {
        display: flex;
        flex-direction: column;
        align-items: center;
	}

	&__title {
        margin-bottom: 75px;
	}

	&__content {
        display:flex;
        margin-bottom: 27px;
	}

	&__content-columns {
        display: flex;
        justify-content: space-between;
        gap: 16px;
	}

	&__content-column {
        width: 220px;
	}

	&__continer-form {
        width: 457px;
        position: relative;
	}

    &__content-pages{
        margin-bottom: 39px;
    }

    &__content-packs{
        margin-bottom: 20px;
    }

    &__content-title{
        @include size-line(14px, 19px, 400);
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $color-brow;
        margin-bottom: 10px;
    }

    &__content-list, &__content-form-text, &__copy-right{
        @include size-line(16px, 32px, 400);
        color: $color-white;
    }

    &__content-form-input{
        width: 458px;
        height: 53px;
        border-radius: 10px;
        border: none;
        margin-top: 8px;
        padding-left: 25px;

        &::placeholder{
            color: $color-gray;
            @include size-line(16px, 32px, 400);
        }
    }

    &__content-submit{
        position: absolute;
        @include size-line(16px, 32px, 400);
        background: $color-dark;
        color: $color-white;
        border-radius: 10px;
        border:none;
        width: 71px;
        height: 39px;
        top: 107px;
        right: -20px;
    }

	&__copy-right-box {
        width: 1220px;
        display: flex;
        justify-content: space-between;
	}

	&__media-contact {
        display: flex;
        align-items: center;
        gap: 20px;
	}

    /* footer mobile */
    @include mobile(){

        &__logo{
            width: 400px;
        }

		&__content {
            display: flex;
            flex-direction: column;
            gap: 50px;
            margin-bottom: 60px;
		}

		&__content-columns {
            display: flex;
            flex-direction: column;
            gap: 80px;
		}

		&__content-column {
            width: 100%;
            text-align: center;
		}

		&__content-title {
            @include size-line(70px, 80px, 400);
            margin-bottom: 50px;
		}

		&__content-list, &__content-form-text, &__copy-right {
            @include size-line(50px, 100px, 400);
		}

		&__content-utility {
            text-align: center;
		}

		&__continer-form {
            width: 100%;
            text-align: center;
		}

		&__content-form-input {
            width: 100%;
            height: 100px;
            &::placeholder{
                @include size-line(50px, 60px, 400);
            }
		}

		&__content-submit {
            top: 350px;
            width: 200px;
            height: 70px;
            @include size-line(50px, 60px, 400);
		}

		&__copy-right-box {
            display: flex;
            flex-direction: column;
            text-align: center;
		}

        &__copy-right{
            margin-bottom: 40px;
        }

		&__media-contact {
            display: flex;
            justify-content: space-between;
		}

		&__linked-in img, &__fecebook img, &__instagram img, &__twiter img{
            width: 200px;
            margin-bottom: 40px;
		}
    }
}



