
@import "_reset-style";
@import "_fonts";

/* for button in header menu*/
$color-gren: #3A5F56;

$color-white: #FFFFFF;
/* bg for body*/
$color-for-bg: #F4F3F0;

/* for section hi*/
$color-dark: #292C32;



body{
    font-family: $Roboto;
    background-color: $color-white;
}

@mixin size-line($font-size, $line-height, $font-weight){
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}
.container{
        width: 1200px;
        margin: 0 auto;
}

/* header*/
.header {

    &__container{

    }

	&__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
	}

	&__row-logo {
            margin: 20px 0;
	}

	&__row-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
	}

	&__row-nav {
        margin-right: 20px;
	}

	&__row-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        list-style: none;
	}

    &__row-link{
        @include size-line(16px, 16px, 400);
        color: $color-gren;           
    }

	&__row-button {
            width: 122px;
            height: 44px;
            position: relative;
            padding-left: 20px;
            padding-right: 20px;
            background: $color-gren;
            border-radius: 10px;
            border: none;
            @include size-line(16px, 22px, 400);
            color: $color-white;

            &::before{
                position: absolute;
                content: "";
                top: 10px;
                left: 0;
                width: 17px;
                height: 17px;
                background: url('../img/basket.svg') center / contain no-repeat;
                margin-left: 18px;
            }

            &::after{
                position: absolute;
                content: "0";
                top: 10px;
                right: 0;
                width: 19px;
                height: 18px;
                background: $color-white;
                margin-right: 13px;
                border-radius: 50px;
                color: $color-gren;
                @include size-line(11px, 18px, 400);
            }
	}
}

/* main  */
.main {

    /* hi section */
    background: $color-for-bg;
    background: 
        url('../img/Rectangle-top-right-green.png') right / contain no-repeat,
        url('../img/Rectangle-left-bottom-orange.png') left / contain no-repeat;

	&__hi {
        display: flex;
        align-items: center;
        padding: 100px 0;
	}

    &__hi-title{
        @include size-line(48px, 58px, 400);
        font-family: $SourceSerif;
        color: $color-gren;
        margin-bottom: 11px;
    }

    &__hi-description{
        @include size-line(16px, 22px, 400);
        color:$color-dark;
        margin-bottom: 17px;
    }

    &__hi-button{
        width: 118px;
        height: 44px;
        color: $color-white;
        @include size-line(16px, 22px, 400);
        border-radius: 10px;
        border: none;
        background: $color-gren;
    }

	&__hi-image {
        width: 552px;
        height: 773px;
	}
    /* end hi section */

}


